.newCustomers {
    width: 91%;
    height: auto;
    margin: 0 auto;
    background-color: #c8c2c243;
    padding: 20px;
    border: 0px solid black;

}

.btnrow {
    margin-top: 30px;
    width: 280px;
    margin: 0px auto;
}

.btnright{
    position: relative;
    float: right;
    margin-bottom: 60px;
}

.w-90{
    width: 90%;
    margin: auto;
    min-height: 350px;
    background-color: rgba(0, 255, 255, 0.23);
}

.viewcartitemslist{
    width: 90%;
    min-height: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    padding: 20px;
    background-color: rgba(146, 141, 141, 0.589);
}

.itemlisttable{
    width: 90%;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(149, 186, 216);
}