.req {
    width: 90%;
    height: auto;
    margin: 0 auto;
    background-color: #c8c2c243;
    padding: 20px;
    margin-top: 60px;
    border: 1px solid black;
}

.btnrow {
    margin-top: 30px;
    width: 280px;
    margin: 0px auto;
}

.salestable {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 20px;
    background-color: #c8c2c243;
    margin-top: 10px;
}

.salestable:first-child{
    margin-top: 100px;
}

.btnright {
    position: relative;
    float: right;
    margin-bottom: 60px;
}