/* .btnrow {
    margin-top: 30px;
    width: 280px;
    margin: 0px auto;
} */

.main-content {
    width: 0px auto;
    margin: 0px auto;
}

.salesheader {
   width: 90%;
   height: 550px;
   background-color: rgba(65, 65, 68, 0.13);
   margin-left: auto;
   margin-right: auto;
   margin-top: 110px;
}

.supcard{
    width:360px;
    position: relative;
    float: left;
    margin-left: 60px;
}

.salesbody{
    width: 90%;
    height: auto;
    background-color: rgba(65, 65, 68, 0.13);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.salesribbon{
    height: 400px;
    width: 100%;
}

.allPromos{
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.promocard{
    width: 300px;
    height: 450px;
    margin-left: 20px;
    margin-top: 50px;
    position: relative;
    float: left;
}

.rowpromo {
    margin-top: 60px;
    width: 280px;
    height: auto;
    margin: 0px auto;
}

.distcont{
    width:90%;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: rgb(141, 139, 139);
}

.contitems{
    width: 90%;
    min-height: 100px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(99, 96, 96, 0.247);
    display: grid;
    grid-template-columns: auto auto auto;
}

.itemtypeitemdist{
    background-color: black;
    height: auto;
}

.enterdist{
    width: 90%;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: rgb(141, 139, 139);
}

.distform{
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.364);
}

.distView{
    display: grid;
    grid-template-columns: auto auto auto;
}