
.btnrow {
    margin-top: 30px;
    width: 280px;
    margin: 0px auto;
}

.stockribbon{
    width: 600px;
    height: 100px;
    margin: auto;
}

.stockviewhead{
    width:9%;
    height: 50px;
    background-color: #615d5d1f;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}

.stockviewbody{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.stockaddhead{
    margin-top: 120px;
}

.brandcard{
    width: 300px;
    height: 300px;
    background-color: #615d5d1f;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 30px;
}

.brandcardimg{
    width: 200px;
    margin: auto;
    height: 180px;
}

a .btnbrand{
    position: relative;
    float: left;
    margin-left:50px ;
}

.addItemType{
    width: 50%;
    height: 240px;
    background-color: rgba(53, 52, 52, 0.175);
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
}