.newSupplier {
    width: 91%;
    height: auto;
    margin: 0 auto;
    background-color: #c8c2c243;
    padding: 20px;
    border: 1px solid black;
}

.btnrow {
    margin-top: 30px;
    width: 280px;
    margin: 0px auto;
}

a.btnup{
    width: 146.65px;
}

.ribbon{
    width: 100%;
    height: 450px;
    
}