.newSupplier {
    width: 91%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #c8c2c243;
    padding: 20px;
    /* border: 1px solid black; */
    margin-top: 0px;
}

.newSupplier:first-child{
    margin-top: 0px;
}

.newSupplier:first-child{
    margin-top: 150px;
    height:630px;
}

.btnrow {
    margin-top: 30px;
    width: 280px;
    margin: 0px auto;
}

a.btnup{
    width: 146.65px;
}

.ribbon{
    width: 100%;
    height: 450px;
}

.supcard{
    width:238px;
    position: relative;
    float:left;
    margin-left: 27px;
    min-height: 430px;
}

.allSuppliers {
    width: 95%;
    height: auto;
    margin: 0px auto;
    padding: 20px;
    margin-top: 80px;
}

.addbtn {
    float: right;
    margin-top: -80px;
}

.supdetails{
    background-color: rgba(0, 255, 255, 0.082);
    width: 500px;
    height: 90%;
    padding: 20px;
    margin-top:20px;
    border-radius: 10px;
    transition: 0.5s;
    color: aliceblue;
}

.supdetails:hover{
    color: rgba(0, 0, 0, 0.87);
    transition: 0.5s;
}

button.btnsupup{
    margin-top:8px;
    margin-right: 10px;
}
