.newRepairs {
    width: 91%;
    height: auto;
    margin: 0 auto;
    background-color: #c8c2c243;
    padding: 20px;
    border: 1px solid black;
}

.btnrow {
    margin-top: 30px;
    width: 280px;
    margin: 0px auto;
}

.repairedItems {
    width: 91%;
    height: auto;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid black;
    background-color: #c8c2c243;
}

a.vbtn {
    width: 146.56px;

}