.newRepairs {
    width: 91%;
    height: auto;
    margin: 0 auto;
    background-color: #c8c2c243;
    padding: 20px;
    /* border: 1px solid black; */
}

.newRepairs:first-child{
    margin-top: 150px;
    height: 630px;
}
.btnrow {
    margin-top: 30px;
    width: 280px;
    margin: 0px auto;
}

.repairedItems {
    width: 91%;
    height: auto;
    margin: 0px auto;
    padding: 20px;
    /* border: 1px solid black; */
    background-color: #c8c2c243;
}

a.vbtn {
    width: 146.56px;

}

.supRibbon{
    width: 90%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.supRibbon:first-child{
    margin-top: 150px;
}
.allDelivery{
    width: 95%;
    height: auto;
    margin: 0px auto;
    padding: 20px;
    margin-top: 120px;
}
.addbtn{
    float: right;
    margin-top: -80px;

}

.repitemcard{
    background-color: rgba(127, 255, 212, 0.056);
    border-radius: 10px;
    width: 540px;
    height: 400px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    transition: 0.5;
}

.repitemcard:hover{
    background-color: rgba(127, 255, 212, 0.2);
    transition: 0.5;
}

.repitemcardtext{
    height: 309px;
}